.container {
  position: relative;
}

.navbar-wrapper {
  /* position: sticky; */
  top: 0;
  left: 0;
  background: transparent;
  color: var(--primary-light-color);
  height: 70px;
  font-family: var(--tikTok);
  font-size: 16px;
  z-index: 11;
  transition: all 0.3s ease;
}

.navbar-wrapper.scrolled {
  background: white;
  color: #333;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-wrapper.scrolled .dropdown-menu {
  background: white;
  border: 1px solid #eee;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.navbar-wrapper.scrolled .mobile-header {
  background: white;
}

.navbar-wrapper .container-content {
  display: flex;
  align-items: center;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-logo-wrapper {
  width: 160px;
}

.nav-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.navbar-wrapper.scrolled .navbar-link-item {
  color: #000;
}

/* Десктопное меню */
.navbar-links {
  display: flex;
  gap: 30px;
  align-items: center;
}

.navbar-link-item {
  position: relative;
  cursor: pointer;
}

.dropdown-header {
  display: flex;
  align-items: center;
  gap: 6px;
}

.navbar-link-arrow {
  width: 12px;
  transition: transform 0.3s ease;
}

.navbar-wrapper.scrolled .navbar-link-arrow {
  filter: brightness(0.2);
}

.dropdown-menu {
  position: absolute;
  top: 120%;
  left: -20px;
  background: #ebecf4;
  border-radius: 10px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 150px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
  z-index: 100;
  color: #5d5d5f;
}

.dropdown-item {
  cursor: pointer;
}

// .dropdown-item:hover {
//   color: #023e92;
// }

.navbar-link-item.dropdown:hover .dropdown-header {
  text-decoration: underline;
}

.navbar-link-item.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.navbar-link-item.dropdown:hover .navbar-link-arrow {
  transform: rotate(-180deg);
}

.lang-header {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #5a6575;
  transition: all 0.3s;
  background: transparent;
}

.lang-header:hover {
  background: #5a657566;
}

.activeLang {
  color: #023e92;
}

.lang-menu {
  right: 0;
  left: unset;
  min-width: unset;
  width: 94px;
}

/* mobile */
.mobile-menu {
  display: none;
}

.mobile-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 15px 0;
}

.mobile-lang-dropdown {
  position: relative;
  order: -1;
  margin-right: auto;
}

.mobile-lang-header {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  background: #f7f7f7;
  padding: 7px;
  font-family: var(--tikTok);
  color: #393939;
  font-weight: 500;
  border-radius: 5px;
}

.mobile-dropdown-arrow {
  width: 12px;
  height: 12px;
  transition: transform 0.3s ease;
}

.mobile-lang-menu {
  position: absolute;
  right: 0;
  top: 115%;
  background: #ebecf4;
  color: #393939;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: none;
  z-index: 110;
  list-style: none;
  margin: 0;
}

.mobile-lang-menu.active {
  display: block;
}

.mobile-lang-menu.active + .mobile-dropdown-arrow {
  transform: rotate(180deg);
}

.mobile-lang-option {
  padding: 8px 12px;
  cursor: pointer;
}

.burger-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 34px;
  height: 34px;
  background: #f7f7f7;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  transition: all 0.3s ease;
  position: relative;
  z-index: 1001;
}

.burger-btn span {
  display: block;
  width: 100%;
  height: 2px;
  background: #0e2b56;
  transition: all 0.3s ease;
  transform-origin: center;
}

.burger-btn.active {
  background: transparent;
}

.burger-btn.active span {
  background: #0e2b56;
}

.burger-btn.active span:nth-child(1) {
  transform: translateY(4px) rotate(45deg);
}

.burger-btn.active span:nth-child(2) {
  opacity: 0;
}

.burger-btn.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.mobile-menu-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  color: #333;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  overflow-y: auto;
  z-index: 1000;
  padding: 80px 20px 20px;
}

.mobile-menu-content.active {
  transform: translateX(0);
}

.mobile-close-btn {
  position: absolute;
  top: 25px;
  right: 20px;
  background: none;
  border: none;
  width: 24px;
  height: 24px;
  color: #333;
  cursor: pointer;
  z-index: 1001;
}

.mobile-close-btn svg {
  width: 100%;
  height: 100%;
}

.mobile-nav-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.mobile-nav-item {
  border-bottom: 1px solid #eee;
}

.mobile-dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  cursor: pointer;
}

.mobile-dropdown-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background: #f9f9f9;
  list-style: none;
  margin: 0;
  padding: 0 0 0 15px;
}

.mobile-nav-item.active .mobile-dropdown-menu {
  max-height: 500px;
}

.mobile-nav-item.active .mobile-dropdown-arrow {
  transform: rotate(180deg);
}

.mobile-dropdown-item {
  padding: 12px 0;
}

.mobile-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  z-index: 999;
}

.mobile-menu-overlay.active {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 992px) {
  .navbar-links {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  body.menu-open {
    overflow: hidden;
  }
}

/* header */

.header {
  width: 100%;
  height: 100%;

  background-image: url('../images/header_bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 110px 90px 60px 90px;
  color: #fff;
  margin-top: -70px;
}

.header-title {
  max-width: 640px;
  line-height:62px;
  font-family: var(--tikTok);
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 64px;
  animation: header-title 0.5s forwards;
}

@keyframes header-title {
from{
  transform:translateY(20px);opacity:0}
  to{transform:translateY(0);opacity:1}
}


.header-cards {
  display: flex;
  gap: 32px;
  color: #000;
}

.header-card {
  position: relative;
  width: 375px;
  height: 370px;
  padding: 24px;
  border-radius: 20px;
}

.header-card-list-item {
  position: absolute;
  left: 26px;
  width: 85%;
  height: 118px;
  border-radius: 12px;
  padding: 16px;
  transform-origin: center;
  transform: translate(0, 0) rotate(0deg);
  transition: transform 0.2s ease-in-out;
  font-family: var(--tikTok);
  font-weight: 400;
  font-size: 20px;
  box-shadow: 0px -1px 15px 0px #0000000d;
  cursor: pointer;
}

.header-card-list-item-1 {
  bottom: 50px;
}
.header-card-list-item-2 {
  bottom: 110px;
}
.header-card-list-item-3 {
  bottom: 165px;
}
.header-card-list-item-4 {
  bottom: 220px;
}

.header-card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 24px 22px;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-family: TikTok Sans;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
}

.header-card-title::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 0;
  height: 40px;
  width: 100%;
}

.header-card-1 {
  background: #e38630;
}

.header-card-1 .header-card-title {
  background: #ffa14a;
  color: #623205;
}

.header-card-1 .header-card-title::before {
  background-image: url('../images/header_card_1.png');
}

.header-card-2 {
  background: #8d9aee;
}

.header-card-2 .header-card-title {
  background: #8d9aee;
  color: #2637a6;
}

.header-card-2 .header-card-title::before {
  background-image: url('../images/header_card_2.png');
}

.header-card-3 {
  background: #5fc78a;
}

.header-card-3 .header-card-title {
  background: #8deeb5;
  color: #0c7337;
}

.header-card-3 .header-card-title::before {
  background-image: url('../images/header_card_3.png');
}

/* 1 block */

.header-card-1 .header-card-list-item-1 {
  background: #fff;
  transform: rotate(2.25deg);
}
.header-card-1 .header-card-list-item-1:hover {
  transform: rotate(5.09deg) translateY(-18px);
}

.header-card-1 .header-card-list-item-2 {
  background: #faede1;
  transform: rotate(1.5deg);
}
.header-card-1 .header-card-list-item-2:hover {
  transform: rotate(2.7deg) translateY(-10px);
}

.header-card-1 .header-card-list-item-3 {
  background: #f7dac0;
  transform: rotate(1.07deg);
}
.header-card-1 .header-card-list-item-3:hover {
  transform: rotate(2.4deg) translateY(-8px);
}

.header-card-1 .header-card-list-item-4 {
  background: #f1c094;
  transform: rotate(-1.21deg);
}
.header-card-1 .header-card-list-item-4:hover {
  transform: rotate(0deg) translateY(-5px);
}

/* 2 block */

.header-card-2 .header-card-list-item-1 {
  background: #fff;
}
.header-card-2 .header-card-list-item-1:hover {
  transform: rotate(-2.76deg) translateY(-20px);
}

.header-card-2 .header-card-list-item-2 {
  background: #e5e7f9;
  transform: rotate(-1deg);
}
.header-card-2 .header-card-list-item-2:hover {
  transform: rotate(2.17deg) translateY(-16px);
}

.header-card-2 .header-card-list-item-3 {
  background: #c7cbea;
  transform: rotate(1deg);
}
.header-card-2 .header-card-list-item-3:hover {
  transform: rotate(-2.18deg) translateY(-16px);
}

.header-card-2 .header-card-list-item-4 {
  background: #b0b6e1;
  transform: rotate(-1deg);
}
.header-card-2 .header-card-list-item-4:hover {
  transform: rotate(2.56deg) translateY(-15px);
}

/* 3 block */

.header-card-3 .header-card-list-item-1 {
  background: #fff;
  transform: rotate(0);
}
.header-card-3 .header-card-list-item-1:hover {
  transform: rotate(2.34deg) translateY(-20px);
}

.header-card-3 .header-card-list-item-2 {
  background: #e4f7ea;
  transform: rotate(-1deg);
}
.header-card-3 .header-card-list-item-2:hover {
  transform: rotate(-3.72deg) translateY(-18px);
}

.header-card-3 .header-card-list-item-3 {
  background: #c1e2cf;
  transform: rotate(1deg);
}
.header-card-3 .header-card-list-item-3:hover {
  transform: rotate(3.37deg) translateY(-16px);
}

.header-card-3 .header-card-list-item-4 {
  background: #a3daba;
  transform: rotate(-1deg);
}
.header-card-3 .header-card-list-item-4:hover {
  transform: rotate(-2.68deg) translateY(-16px);
}

/* for cards animation */

.header-card-1 .header-card-list-item-1.animate-step {
  transform: rotate(5.09deg) translateY(-18px);
}
.header-card-1 .header-card-list-item-2.animate-step {
  transform: rotate(2.7deg) translateY(-10px);
}
.header-card-1 .header-card-list-item-3.animate-step {
  transform: rotate(2.4deg) translateY(-8px);
}
.header-card-1 .header-card-list-item-4.animate-step {
  transform: rotate(0deg) translateY(-5px);
}

.header-card-2 .header-card-list-item-1.animate-step {
  transform: rotate(-2.76deg) translateY(-20px);
}
.header-card-2 .header-card-list-item-2.animate-step {
  transform: rotate(2.17deg) translateY(-16px);
}
.header-card-2 .header-card-list-item-3.animate-step {
  transform: rotate(-2.18deg) translateY(-16px);
}
.header-card-2 .header-card-list-item-4.animate-step {
  transform: rotate(2.56deg) translateY(-15px);
}

.header-card-3 .header-card-list-item-1.animate-step {
  transform: rotate(2.34deg) translateY(-20px);
}
.header-card-3 .header-card-list-item-2.animate-step {
  transform: rotate(-3.72deg) translateY(-18px);
}
.header-card-3 .header-card-list-item-3.animate-step {
  transform: rotate(3.37deg) translateY(-16px);
}
.header-card-3 .header-card-list-item-4.animate-step {
  transform: rotate(-2.68deg) translateY(-16px);
}

/* logos */

.logos {
  padding: 20px 0;
  background: #f4f4f4;
}

.logos-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logos-title-wrapper {
  max-width: 242px;
  padding-right: 20px;
  border-right: 1px solid #a4a4a4;
}
.logos-title {
  display: inline;
}

.logos-title-name {
  position: relative;
  margin-left: 20px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.logos-title-name::before {
  content: '';
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url('../images/star.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
}

.logos-title {
  font-family: var(--tikTok);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}

.logo-list {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.logo-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
}

.logo-list-item-1 {
  padding: 0 12px;
}

.logo-list-item-2,
.logo-list-item-3,
.logo-list-item-4 {
  padding: 0 20px;
}

.logo-list-item-5 {
  padding: 0 5px;
}

.logo-list-item-6 {
  padding: 0;
}

.logo-list-item .logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.logo-title-img {
  width: 88px;
}

/*  guide */

.guide {
  padding: 60px 0 30px 0;
}

.guide-btn-list {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 24px;
}

.guide-article-grid {
  display: none;
  grid-template-areas:
    'a a b b c c '
    'a a b b c c '
    'a a b b c c '
    'a a d d e e '
    'a a d d e e '
    'a a d d e e ';
  gap: 10px;
  grid-auto-rows: minmax(80px, auto); /* Минимум 50px, максимум — по контенту */
}

.guide-article-grid.active {
  display: grid;
}

.guide-article {
  position: relative;
  max-width: 390px;
  min-width: 260px;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: all 0.3s;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}

.guide-article-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 28.33%, rgba(0, 0, 0, 0.6) 75.18%);
  pointer-events: none;
}

.guide-article:hover {
  background-size: 110% 110%;
}

.guide-article-title {
  font-family: var(--tikTok);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  z-index: 1;
}

.guide-article-subtitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  z-index: 1;
}

.guide-article-1 {
  grid-area: a;
  background-image: url('../images/guide_1.png');
}

.guide-article-2 {
  grid-area: b;
  background-image: url('../images/guide_2.png');
}

.guide-article-3 {
  grid-area: c;
  background-image: url('../images/guide_3.png');
}

.guide-article-4 {
  grid-area: d;
  background-image: url('../images/guide_4.png');
}

.guide-article-5 {
  grid-area: e;
  background-image: url('../images/guide_5.png');
}

/*  guide-cards */

.guide-cards-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.guide-cards-title-wrapper .block-title {
  margin-bottom: unset;
}

.guide-cards-collapse {
  font-family: var(--tikTok);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #161616;
  cursor: pointer;
}

.guide-card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.guide-card {
  width: 100%;
  font-family: var(--tikTok);
  border: 1px solid #e5e7f1;
  border-radius: 20px;
  overflow: hidden;
}

.guide-card-title-block {
  background: #e5e7f1;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.guide-card-title-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.guide-card-title-number {
  display: inline-block;
  border-radius: 50%;
  background: #0e2b56;
  color: #fff;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
}

.guide-card-title {
  font-weight: 500;
  font-size: 20px;
}

.guide-card-plus {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
  color: #000; /* Цвет по умолчанию */
  transition: background 0.3s ease, transform 0.2s ease;
  border: 1px solid #0e2b56;
  border-radius: 50%;
  transform: rotate(0deg);
}

.guide-card-plus:hover {
  background: #0e2b56;
  color: #ffffff; /* Цвет при наведении - замените на нужный */
}

.guide-card-plus svg {
  width: 16px;
  height: 16px;
  transition: transform 0.3s ease;
}

.guide-card .guide-card-plus {
  transform: rotate(0deg);
}

.guide-card.active .guide-card-plus {
  transform: rotate(45deg);
}

.guide-card-article-wrapper {
  display: none;
  padding: 20px;
}

.guide-card.active .guide-card-article-wrapper {
  display: block;
}

.guide-card-main-article {
  display: flex;
  gap: 32px;
  border-bottom: 1px solid #e5e7f1;
  padding-bottom: 20px;
}

.guide-card-main-article-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  max-width: 450px;
  margin-bottom: 24px;
  margin-top: 5px;
  transition: all 0.3s;
  cursor: pointer;
}

.guide-card-main-article-title:hover {
  color: #3e62f0;
  text-decoration: underline;
}

.guide-card-dop-article-wrapper {
  display: flex;
  gap: 30px;
}

.guide-card-dop-article {
  display: flex;
  gap: 16px;
}

.guide-card-dop-article-more {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  margin: 20px 0;
}

.guide-card-dop-article-txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.guide-card-dop-article-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  cursor: pointer;
}

.guide-card-dop-article-title:hover {
  text-decoration: underline;
}

.guide-card-dop-article-author {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #161616;
}

.guide-card-article-btn {
  position: relative;
  display: block;
  border-radius: 10px;
  padding: 10px;
  padding-right: 20px;
  border: 1px solid #0e2b56;
  font-family: TikTok Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 18px;
  background: #fff;
  transition: background 0.3s;
  cursor: pointer;
}

.guide-card-article-btn:hover {
  background: #0e2b5614;
}

.guide-card-article-btn::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url('../images/btn_arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  // top: 50%;
  // transform: translateY(-50%);
}

/* help */

.help-list {
  display: flex;
  gap: 16px;
  font-family: var(--tikTok);
}

.help-list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid #f1f2f8;
  padding: 20px;
  border-radius: 16px;
}

.help-list-item-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #161616;
}

.help-list-item-txt {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #454545;
}

/* explore */

.explore {
  margin-bottom: 30px;
}

.explore-wrapper {
  background: #0c2a53;
  padding: 40px;
  border-radius: 16px;
  color: #fff;
}

.block-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 34px;
}

.explore-wrapper .block-title {
  color: #fff;
  margin-bottom: unset;
}

.slider-arrow-wrapper {
  display: flex;
}

.slider-arrow {
  width: 34px;
  height: 34px;
  background: transparent;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-arrow img {
  width: 100%;
  height: 100%;
}

.slider-arrow.prev img {
  transform: rotate(-180deg);
}

.slider-container {
  max-width: 1200px;
  margin: 0 auto;
  // padding: 20px;
  position: relative;
}

.slider {
  overflow: hidden;
  position: relative;
}

.slides-container {
  display: flex;
  transition: transform 0.5s ease;
}

.slide-block {
  flex: 0 0 100%;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  min-width: 0;
}

.slide {
  position: relative;
  flex: 0 0 calc(25% - 15px);
  max-width: calc(25% - 15px);
  height: 267px;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(182.76deg, rgba(0, 0, 0, 0.1) 52.21%, #000000 97.7%);
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-title {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-family: var(--tikTok);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}

.slider-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.slider-dots {
  display: flex;
  justify-content: center;
  list-style: none;
}

.slider-dots li {
  margin: 0 5px;
}

.slider-dots button {
  width: 42px;
  height: 4px;
  border-radius: 50px;
  border: none;
  background: #fff;
  opacity: 20%;
  cursor: pointer;
  padding: 0;
  text-indent: -9999px;
}

.slider-dots button.active {
  opacity: 60%;
}

@media (max-width: 992px) {
  .slide-block {
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 16px;
    overflow-x: scroll;
    width: 100%;
  }

  .slide {
    flex: 0 0 300px;
    width: 100%;
    max-width: 300px;
  }

  .slide-block::-webkit-scrollbar {
    display: none;
  }
}

/* footer */

.footer {
  padding: 60px 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/header_bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--tikTok);
  color: #fff;
}

.footer-parts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.footer-logo {
  width: 290px;
  margin-bottom: 25px;
}

.footer-txt {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 15px;
}

.footer-txt-small {
  color: #cfcaca;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
}

.footer-img-wrapper {
  display: flex;
  gap: 20px;
}

.footer-img {
  width: 40px;
  height: 40px;
}

.footer-note {
  font-weight: 400;
  font-size: 14px;
}

.footer-right-part {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.footer-right-part-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 1200px) {
  .container-content {
    padding: 0 16px;
  }

  .guide-btn-list {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 24px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    padding-bottom: 8px;
    white-space: nowrap;
  }

  .guide-btn-list::-webkit-scrollbar {
    display: none;
  }

  .guide-btn-list .primary-btn {
    flex: 0 0 auto;
    white-space: nowrap;
  }

  .logo-list-item {
    width: 120px;
  }

  .header {
    padding: 90px 0 60px 0;
  }

  .logo-list {
    gap: 20px;
  }
}

@media (max-width: 992px) {
  .header-title {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 24px;
  }

  .header-cards {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .header-card {
    width: 343px;
    height: 253px;
  }

  .header-card-list-item {
    width: 85%;
    padding: 12px;
    height: 72px;
    font-size: 16px;
    line-height: 18px;
  }

  .header-card-list-item-1 {
    bottom: 40px;
  }

  .header-card-list-item-2 {
    bottom: 80px;
  }
  .header-card-list-item-3 {
    bottom: 120px;
  }

  .header-card-list-item-4 {
    bottom: 160px;
  }

  .header-card-title {
    padding: 12px 16px;
  }

  .header-card-title::before {
    top: -15px;
    height: 20px;
  }

  .logos-wrapper {
    flex-direction: column;
  }

  .logos-title-wrapper {
    max-width: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: unset;
    padding-right: 0;
  }

  .logos-title {
    color: #16161699;
  }

  .logos-title-name {
    display: block;
    font-size: 18px;
    line-height: 40px;
  }

  .logo-list {
    margin-top: 15px;
    justify-content: center;
  }

  .logo-list {
    max-width: 70%;
    width: 100%;
    margin: 0 auto;
  }

  .logo-list-item {
    width: calc(100% / 4);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo-list-item img {
    width: unset;
  }

  .section .guide-cards {
    overflow: hidden;
  }

  .guide-article-grid.active {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .guide-article {
    height: 348px;
    background-size: cover;
  }

  .guide-card-dop-article-wrapper {
    flex-direction: column;
  }

  .guide-card-main-article-img {
    max-width: 350px;
  }

  .help-list {
    flex-wrap: wrap;
    // flex-direction: column;
  }

  .help-list-item {
    max-width: 340px;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    border-bottom: 1px solid #f1f2f8;
  }

  .explore-wrapper {
    padding: 40px 16px;
  }

  .explore-wrapper .block-title {
    font-size: 24px;
    line-height: 36px;
  }

  .footer-parts {
    gap: 34px;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .guide-card-main-article {
    flex-direction: column;
  }

  .guide-card-main-article-img {
    max-width: unset;
  }

  .guide-card-main-article-title {
    max-width: unset;
  }

  .guide-cards-collapse {
    display: none;
  }

  .logo-list {
    max-width: 85%;
  }
}

@media (max-width: 576px) {
  .footer-right-part {
    flex-wrap: wrap;
  }
  .footer-right-part-list {
    width: 40%;
  }

  .logo-list {
    max-width: 100%;
  }

  .logo-list-item {
    padding: 0 5px;
  }
}
