.footer {
	padding: 60px 0;
	width: 100%;
	height: 100%;
	background-color: #172b54;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: var(--tikTok);
	color: #fff
}

.footer-parts {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px
}

.footer-logo {
	width: 290px;
	margin-bottom: 25px
}

.footer-txt {
	font-weight: 400;
	font-size: 16px;
	margin-bottom: 15px
}

.footer-txt-small {
	color: #cfcaca;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 15px
}

.footer-img-wrapper {
	display: flex;
	gap: 20px
}

.footer-img {
	width: 40px;
	height: 40px
}

.footer-note {
	font-weight: 400;
	font-size: 14px
}

.footer-right-part {
	display: flex;
	gap: 40px;
	justify-content: space-between
}

.footer-right-part-list {
	display: flex;
	flex-direction: column;
	gap: 20px
}

@media (max-width:1200px) {
	.container-content {
		padding: 0 16px
	}

	.logo-list-item {
		width: 120px
	}

	.header {
		padding: 90px 0 60px
	}

	.logo-list {
		gap: 20px
	}
}

@media (max-width:992px) {
	.navbar-links {
		display: none
	}

	.mobile-menu {
		display: block
	}

	.container {
		background: #f6f7fb
	}

	.header-title {
		letter-spacing: 1.5px;
		font-size: 36px;
		line-height: 42px;
		margin-bottom: 24px
	}

	.header-card {
		width: 283px;
		height: 292px
	}

	.header-card-list-item {
		width: 82%;
		padding: 12px;
		height: 72px;
		font-size: 16px;
		line-height: 18px
	}

	.header-card-list-item-1 {
		bottom: 50px
	}

	.header-card-list-item-2 {
		bottom: 100px
	}

	.header-card-list-item-3 {
		bottom: 150px
	}

	.header-card-list-item-4 {
		bottom: 190px
	}

	.header-card-title {
		padding: 12px 16px;
		height: 68px
	}

	.header-card-title::before {
		top: -15px;
		height: 20px
	}

	.logo-list {
		justify-content: center;
		max-width: 70%;
		width: 100%;
		margin: 0 auto
	}

	.logo-list-item {
		width: calc(100% / 4);
		display: flex;
		align-items: center;
		justify-content: center
	}

	.logo-list-item img {
		width: unset
	}

	.statistics-list {
		flex-wrap: wrap
	}

	.statistics-list-item {
		max-width: 340px;
		width: 100%;
		margin: 0 auto;
		background: #fff;
		border-bottom: 1px solid #f1f2f8
	}

	.footer-parts {
		gap: 34px;
		flex-direction: column
	}
}

@media (max-width:768px) {
	.header-card {
		width: 283px;
		height: 292px
	}

	.logo-list {
		max-width: 85%
	}

	.block-title-wrapper {
		gap: 5px
	}
}

@media (max-width:576px) {
	.header-title {
		font-weight: 500;
		font-size: 28px;
		line-height: 36px;
		text-align: center
	}

	.footer-right-part {
		flex-wrap: wrap
	}

	.footer-right-part-list {
		width: 40%
	}

	.logo-list {
		max-width: 100%
	}

	.logo-list-item {
		padding: 0 5px
	}
}